<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949593005115-bm29hkedbkektc5oop9ta6oagobot9ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949593005115-bm29hkedbkektc5oop9ta6oagobot9ll</string>
	<key>API_KEY</key>
	<string>AIzaSyCAiKUP-45N-p2oD1cANZM4Gx7GWNlyiVM</string>
	<key>GCM_SENDER_ID</key>
	<string>949593005115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.studyquest.online</string>
	<key>PROJECT_ID</key>
	<string>quest-moodle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quest-moodle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949593005115:ios:ab13b058795b795f28901e</string>
	<key>DATABASE_URL</key>
	<string>https://quest-moodle-app.firebaseio.com</string>
</dict>
</plist>