/* custom style for moodle app customization 
 * Author:  joshuaomotayo
 * Url:     http://olalekan.pw
 * Email:   admin@olalekan.pw
*/


/* login page cutomization */
ion-app.app-root page-core-login-credentials .scroll-content, ion-app.app-root page-core-login-reconnect .scroll-content, ion-app.app-root page-core-login-site .scroll-content {
    background: #ffffff !important;
}
ion-app.app-root page-core-login-credentials .box, ion-app.app-root page-core-login-reconnect .box, ion-app.app-root page-core-login-site .box {
    border: none !important;
}

/* custom color on login screen */
/*ion-app.app-root page-core-login-credentials .core-login-site-logo {
    margin: 0 !important;
    background-color: #A6CE39 !important;
}

[dir="ltr"] ion-app.md [padding] .scroll-content, [dir="rtl"] ion-app.md [padding] .scroll-content, [dir="ltr"] ion-app.ios [padding] .scroll-content, [dir="rtl"] ion-app.ios [padding] .scroll-content {
    padding: 0 !important;
}

form.core-login-form {
    padding: 20px !important;
}*/


/* social autheentication buttons */
.list-md .item-block .item-inner{
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: 1px solid #dedede !important;
    border-radius: 0 !important;
}

/* logo */

ion-app.app-root page-core-login-credentials img.login-logo, ion-app.app-root page-core-login-reconnect img.login-logo, ion-app.app-root page-core-login-site img.login-logo, .core-login-site-logo img {
    width: 100%;
    max-width: 250px !important;
    padding: 60px 0 !important
}

/*profile message button*/
ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler .icon {
    background-color: #A6CE39;
}
ion-app.app-root page-core-user-profile .core-user-communication-handlers .core-user-profile-handler {
    color: #A6CE39 !important;
}

/*toolbar - ion-header*/
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #A6CE39;
}
/* reveal password icon */
ion-app.app-root core-show-password .button[icon-only] {
    color: #A6CE39 !important;
    padding: 0 !important;
}
/*login button*/
.button-md {
    border-radius: 12px !important;
    background-color: #A6CE39;
    color: #FFFFFF !important;
    padding: 25px 0 !important;
    margin-top: 40px !important;
}
.button-md:hover:not(.disable-hover) {
    background-color: #A6CE39;
}
/* hover on submit click for login button */
.button-md.activated {
    background-color: #A6CE39 !important;
}
/*show input border*/
ion-app.app-root page-core-login-credentials .item-md.item-block .item-inner {
    border: 1px solid #000000;
    border-radius: 6px;
}
/* default state */
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border: 1px solid #A6CE39 !important;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -1px 0 0 #A6CE39;
    box-shadow: inset 0 -1px 0 0 #A6CE39;
}
/* invalid input */
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: 1px solid #cb3d4d;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 -1px 0 0 #cb3d4d;
    box-shadow: inset 0 -1px 0 0 #cb3d4d;
}
/* valid input */
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border: 1px solid #5e8100;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 -1px 0 0 #5e8100;
  box-shadow: inset 0 -1px 0 0 #5e8100;
}

[dir="ltr"] .item-md {
    padding-left: 4px;
    padding-right: 0;
}
/*forgot password button and color*/
.button-md-light {
    color: #000000 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
ion-app.app-root.md .button-md-light {
    color: #000000 !important;
    margin-top: 0px !important;
}
/*button*/
/*  pickers */
.picker-md .picker-button {
    padding: 0 1.1em !important;
    margin-top: 0px !important;
}
.picker-md .picker-opt.picker-opt-selected {
    color: #A6CE3991;
}
/*dasboard tab bar*/
ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true] {
    color: #A6CE39 !important;
    border-bottom-color: #A6CE39 !important;
}
/*dashboard drop down*/
ion-app.app-root ion-select.core-button-select .select-icon .select-icon-inner, ion-app.app-root .core-button-select .select-icon .select-icon-inner, ion-option {
    color: #A6CE39;
}
ion-app.app-root ion-select.core-button-select, ion-app.app-root .core-button-select, ion-option {
    color: #A6CE39;
}
/*progress bar in courses*/
ion-app.app-root core-progress-bar progress .progress-bar-fallback span, ion-app.app-root core-progress-bar progress[value]::-webkit-progress-value {
    background-color: #A6CE39;
    border-radius: 0;
}
/*radio button*/
.radio-md .radio-checked {
    border-color: #A6CE39;
}
.radio-md .radio-inner {
    background-color: #A6CE39;
}
.item-radio-checked.item-md ion-label {
    color: #A6CE39;
}
/*calendar*/
ion-app.app-root addon-calendar-calendar .addon-calendar-day.today .addon-calendar-day-number span {
    background-color: #A6CE39;
}
/*3 dot more icon*/
.button-clear.button-clear {
    border-color: transparent !important;
    background: transparent !important;
    color: #A6CE39 !important;
}
/*3 dot more icon*/
ion-app.app-root.md .bar-buttons core-context-menu .button-clear-md {
    color: #FFFFFF !important;
    margin-top: 0px !important;
}
/*fab button*/
.fab-md, .fab-md.activated {
    background-color: #A6CE39;
}
/*action for upload in private link*/
.action-sheet-md .action-sheet-title {
    color: #A6CE39;
}
/*hamburger menu*/
/* tab menu items */
.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-md ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true] .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-md .tab-slide[aria-selected=true] .tab-button-icon {
    color: #279ad6;
}
/*toggle button*/
.toggle-md.toggle-checked .toggle-icon {
    background-color: #A6CE3978;
}
.toggle-md.toggle-checked .toggle-inner {
    background-color: #A6CE39;
}
/* search in message tab */
[dir="ltr"] .item-md .item-button[icon-only] ion-icon, [dir="ltr"] .item-md .item-button[icon-only], [dir="rtl"] .item-md .item-button[icon-only] ion-icon, [dir="rtl"] .item-md .item-button[icon-only] {
    padding: 0px 9px;
}
ion-app.app-root core-search-box.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border: none !important;
    border-radius: 0 !important;
}
/* invalid input */
ion-app.app-root core-search-box.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none !important;
    border-radius: 0 !important;
}
/* valid input */
ion-app.app-root core-search-box.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border: none !important;
  border-radius: 0 !important;
}
/*general settings*/
ion-app.app-root ion-select .select-icon .select-icon-inner {
    color: #A6CE39;
}
ion-app.app-root ion-select {
    color: #A6CE39;
}
ion-app.app-root .action-sheet-wrapper .action-sheet-selected {
    color: #A6CE39;
}
/*font sizes*/
.segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: #A6CE39;
    color: #A6CE39;
}
.segment-md-primary .segment-button {
    color: #A6CE39;
}
/*alert button color*/
.alert-md .alert-button {
    color: #A6CE39;
}
/*app usage section*/
[dir="ltr"] ion-app.app-root .core-primary-selected-item {
    border-left: 5px solid #A6CE39;
}
/*change site icon*/
ion-app.app-root .item .item-button[icon-only] {
    color: red !important;
    margin-top: 0px !important;
}

/*IOS Theme*/
.toolbar-background-ios {
    background: #A6CE39;
}
.button-ios {
    background: #A6CE39;
}
.button-ios.activated {
    background: #A6CE39;
}
ion-app.app-root.ios .button-ios-light {
    color: #ffffff;
}
/* ios alerts */
.alert-ios .alert-button {
    color: #A6CE39 !important;
}
/* fab ios */
.fab-ios {
    color: #fff;
    background-color: #A6CE39;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios ion-app.app-root .core-tabs-bar .tab-slide[aria-selected=true] .tab-button-icon, ion-app.app-root .core-tabs-bar .tabs-ios .tab-slide[aria-selected=true] .tab-button-icon {
    color: #A6CE39;
}
.segment-ios-primary .segment-button.segment-activated {
    background-color: #A6CE39;
}
.segment-ios-primary .segment-button {
    border-color: #A6CE39;
    color: #A6CE39;
}
.toggle-ios.toggle-checked .toggle-icon {
    background-color: #A6CE39;
}

/*landscape desktop*/
@media screen and (orientation: landscape)
[dir="ltr"] ion-app.app-root core-split-view .split-pane-visible .split-pane-side .core-split-item-selected {
    border-left: calc(env(safe-area-inset-left) + 5px) solid #A6CE39;
}